/** Fonts **/
$font-xs: .6em;
$font-sm: .8em;
$font-md: 1em;
$font-lg: 1.6em;
$font-xl: 2.2em;
$font-xxl: 3.4em;

/** Colors **/
$black: #222;
$blue: #1FC6CC;
$pink: #FF0DAE;
$white: #fff;

/** Z-indexes **/
$bottom: 0;
$low: 25;
$middle: 50;
$high: 75;
$space: 99;

/** Mixins **/
@mixin full-screen() {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	right: 0;
}

/** Layout **/
* {
	box-sizing: border-box;
}

body {
	background: $black;
	color: $white;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	overflow: hidden;
}

section, .nav {
	width: 100%;
}

/** Typography **/
a {
	color: $white;
	text-decoration: none;
}

p {
	margin: 1em 10px;
}

h1 {
	font-size: $font-xl;
	font-weight: bold;
	color: $white;
}

h2 {
	font-size: $font-md;
	font-weight: 500;
	margin: .6em 0 .2em ;
}
h3 {
	font-weight: 100;
	font-size: $font-sm;
	font-style: italic;
	margin: .2em 0;
}

/** Components **/
.cta {
	background: $blue;
	color: $white;
	display: block;
	margin: 1em 10px;
	padding: 12px;

	&:hover, &:active {
		background: lighten($blue, 10%);
		text-decoration: none;
	}
}

.nocando {
	background: darken($blue, 10%);
}

.nav__item {
	display: block;
	font-size: $font-lg;
	margin: 1em 0;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}

	&.active {
		color: $blue;
	}
}

.nav {
	list-style-type: none;
	padding: 20px;
}

.nav__close {
	font-weight: 100;
	position: absolute;
	top: 8px;
	left: 8px;
	&:hover {
		cursor: hand;
		cursor: pointer;
	}
}

.overlay {
	@include full-screen();

	align-items: center;
	background: rgba($pink, .5);
	display: flex;
	justify-content: center;
}

#video__controls {
	font-size: $font-lg;
	margin: .6em;
	span {
		margin: 0 2px;
		&:hover {
			cursor: hand;
			cursor: pointer;
		}
	}
}

/** Sections **/
#intro {
	@include full-screen();
	background: url('../img/bg.gif') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: scroll;
	padding: 25px;
	text-align: center;
	z-index: $high;
}

#contact {
	font-size: $font-xs;
}

#social {
	position: absolute;
	right: 8px;
	top: 8px;
	z-index: $space;
}

#songs {
	display: block;
	z-index: $high;
	height: 0;
	overflow: hidden;
	padding: 0;
	width: 0;
	right: auto;
	top:auto;
	transition: all, .4s;

	&.open {
		height: 100%;
		overflow: scroll;
		padding-left: 12.5%;
		padding-right: 12.5%;
		transition: all, .4s;
		width: 100%;
	}
}

#video {
	@include full-screen();
	background: $black;
	z-index: $low;
}

#status {
	background: rgba($pink, .5);
	bottom: 0;
	left: 0;
	height: 60px;
	position: absolute;
	right: 0;
	z-index: $middle;
	div {
		float: left;
	}
}

.song__info {
	margin-left: 10px;
}

.song__thumbnail-container {
	display: none;
	width: 60px;
	img {
		width: 100%;
		height: 60px;
	}
}
.fb_iframe_widget {
	top: -4px;
}

@media (max-width: 767px) {
	h1 {
		font-size: $font-xl;
	}

	h2 {
		font-size: 1.2em;
		margin-right: 75px;

	}
	h3 {
		font-size: 1.1em;
	}

	.nav__item {
		font-size: $font-lg;
	}

	#contact {
		font-size: $font-sm;
	}

	.song__thumbnail-container {
		display: none;
	}

	.song__info {
		&.smaller {
			h2 {
				font-size: 1em;
			}
		}
	}

	#status {
		height: 75px;
		overflow: hidden;
	}

	#video__controls {
		margin-left: 0;
		margin-right: 10px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

@media (min-width: 768px) {
	.cta {
		display: inline-block;
		font-size: $font-lg;
		margin: 1em 6px;
		width: 45%;
	}

	#songs {
		&.open {
			padding-left: 25%;
			padding-right: 25%;
		}
	}

	#video__controls {
		font-size: $font-xl;
		margin: .25em .6em;
		span {
			margin: 0 4px;
		}
	}
}